/* .btn{
    background-color: darkgrey;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: 5px 5px 5px rgb(228, 225, 225);
}

.btn:hover{
    background-color: rgb(201, 206, 206);
}
.btn:active{
    background-color:rgb(254, 253, 253);
} */

#counter{
    background-color: darkgrey;
    padding: 5px 20px;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: 300;
    box-shadow: 5px 5px 5px rgb(228, 225, 225);
    cursor: pointer;
}
.even{
   background-color: blueviolet;

}
.odd{
   background-color: crimson;
}